.media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .dropdown-media {
    width: 390px;
    height: 7vh;
    margin-top: 2%;
    margin-left: 10.5%;
    margin-right: auto;

    @media (max-width: 718px) {
      display: flex;
      justify-content: center;
      padding: 0;
      margin: 0;
      margin-top: 5%;
      width: 100%;
    }
  }

  .outer-box-media {
    display: grid;
    grid-template-columns: auto auto auto;
    min-height: 60vh;

    @media (max-width: 1024px) {
      grid-template-columns: auto auto;
    }

    @media (max-width: 720px) {
      grid-template-columns: auto;
    }

    .card-media {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 50px;
      padding-left: 50px;
      padding-right: 50px;
      position: relative;

      img {
        height: 250px;
        width: 270px;
        display: block;
      }

      .download-button {
        font-size: 25px;
        background-color: black;
        color: rgb(255, 255, 255);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        position: absolute;
      }

      .download-button:hover {
        background-color: #4caf50;
        color: white;
      }
    }

    .alert-showBlogs {
      height: 100px;
    }
  }
}
